.container{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

¨/*-----File upload-----*/

.fileMassive{
    width: 100%;
    max-width: 1025px;
    background-color: #000;
    height: 340px;
    border: solid 1px #6C757D;
}
.txtDrop{
    margin-top: 3%;
    font-family: "RubikRegular",sans-serif !important;
    font-size: 14px;
    color: #6C757D;
    font-weight: normal;
}

¨/*-----End File upload-----*/

.btnBack{
    display: flex;
    justify-content: flex-end;
    margin-top: 4%;
}

