@import "./styles.scss";
@import "./mixins.scss";
// :root {
//   --color-black: #0b060e;
//   --color-gray: #535353;
//   --color-white-1: #fefefe;
//   --color-white-2: #f7fbff;
//   --color-white-3: #d3d0ce;
//   --color-theme-1: #6a478d; //#6a478d;
//   --color-theme-2: #d2cfcd;
//   --color-theme-3: #00ebf9; //#00ebf9;
// }
html {
	font-size: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: "RubikMedium", sans-serif;
	// font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
	.link {
		color: var(--color-theme-1) !important;
		text-decoration: underline !important;
	}
}

* {
	box-sizing: border-box;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;

	position: relative;
	color: var(--color-theme-1);
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.weight-900 {
	font-weight: 900;
}

.not-margin-padding {
	padding: 0;
	margin: 0;
}

.pointer {
	cursor: pointer;
}

div[id="single-spa-application:@sapiencia/document-management"] {
	height: 100%;
}
.grid {
	display: grid;

	&.gap-25 {
		gap: 25px;
	}

	&.gap-33 {
		gap: 33.3px;
	}
}

.general-configuration-page {
	font-size: "Rubik";
	.color-black {
		color: black;
	}

	.space-between {
		justify-content: space-between;
	}

	.d-flex {
		display: flex;
	}
  
	.align-items-center {
		align-items: center;
	}
	
	.w-100 {
		width: 100%;
	}

	.save-button {
		padding: 12px 16px 12px 16px;
		border: none;
		border-radius: 100px;
		width: 162px;
		height: 41px;
	}

	.cancel-button {
		padding: 12px 16px 12px 16px;
		color: black;
		border: 1px solid black;
		border-radius: 100px;
		background-color: transparent;
		width: 121p;
		height: 41px;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.save-button-active {
		background-color: #533893;
		color: white;
	}

  .save-button-disabled {
    background-color: #E2E2E2;
    color: black;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #533893;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
}

.text-black {
  text-align: center;
}


