@import "./styles.scss";
@import "./mixins.scss";
@import "~primeicons/primeicons.css";
// :root {
//   --color-black: #0b060e;
//   --color-gray: #535353;
//   --color-white-1: #fefefe;
//   --color-white-2: #f7fbff;
//   --color-white-3: #d3d0ce;
//   --color-theme-1: #6a478d; //#6a478d;
//   --color-theme-2: #d2cfcd;
//   --color-theme-3: #00ebf9; //#00ebf9;
// }
html {
	font-size: 100%;
}

body {
	padding: 0;
	margin: 0;
	// font-family: "RubikMedium", sans-serif;
	// font-size: 16px;
}

a {
	color: inherit;
	text-decoration: none;
	.link {
		color: var(--color-theme-1) !important;
		text-decoration: underline !important;
	}
}

* {
	box-sizing: border-box;
}

hr {
	margin-top: 8px;
	margin-bottom: 8px;

	position: relative;
	color: var(--color-theme-1);
}

.text-center {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.weight-900 {
	font-weight: 900;
}

.not-margin-padding {
	padding: 0;
	margin: 0;
}

.pointer {
	cursor: pointer;
}

div[id="single-spa-application:@sapiencia/document-management"] {
	height: 100%;
}
.grid {
	display: grid;

	&.gap-25 {
		gap: 25px;
	}

	&.gap-33 {
		gap: 33.3px;
	}
}

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.general-configuration-page {
	.standar-type-container {
		padding: 20px 150px;
		column-gap: 27;
	}

	.min-width-270px {
		min-width: 270px;
	}

	.min-width-309px {
		min-width: 309px;
	}

	.switch-md {
		align-items: center;
	}

	@media (max-width: 600px) {
		.fs-md {
			font-size: 14px;
			margin-right: 12px;
		}

		.switch-md {
			flex-direction: column;
			align-items: flex-start !important;
		}

		.fs-md-2 {
			font-size: 12px;
			margin-right: 12px;
		}

		.standar-type-container {
			padding: 20px 10px;
		}
	}

	* {
		font-family: "Rubik" !important;
	}

	.color-black {
		color: black;
	}

	.without-border {
		border: none;
	}

	.without-bold {
		font-weight: 400;
	}

	.space-between {
		justify-content: space-between;
	}
	.p-accordion
		.p-accordion-tab:first-child
		.p-accordion-header
		.p-accordion-header-link {
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
	}

	.p-accordion
		.p-accordion-header
		.p-accordion-header-link
		.p-accordion-toggle-icon {
		color: #533893;
	}

	.p-accordion-header-text {
		color: #6c757d;
		font-weight: 500;
	}

	.p-accordion-tab-active .p-accordion-header-text {
		color: black;
	}

	@media (max-width: 600px) {
		.accordion-item-container {
			max-width: 280px;
		}
	}

	.space-between {
		justify-content: space-between;
	}

	.justify-content-center {
		justify-content: center;
	}

	.w-100 {
		width: 100%;
	}

	.save-button {
		padding: 12px 16px 12px 16px;
		border: none;
		border-radius: 100px;
		width: 162px;
		height: 41px;
	}

	.cancel-button {
		padding: 12px 16px 12px 16px;
		color: black;
		border: 1px solid black;
		border-radius: 100px;
		background-color: transparent;
		width: 121p;
		height: 41px;
	}

	.cursor-pointer {
		cursor: pointer;
	}

	.save-button-active {
		background-color: #533893;
		color: white;
		cursor: pointer;
	}

	.save-button-disabled {
		background-color: #e2e2e2;
		color: black;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 60px;
		height: 34px;
	}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		border-radius: 34px;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 26px;
		width: 26px;
		left: 4px;
		bottom: 4px;
		background-color: white;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		border-radius: 50%;
	}

	input:checked + .slider {
		background-color: #533893;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(26px);
		-ms-transform: translateX(26px);
		transform: translateX(26px);
	}
}

.recived-documents {
	.search-button {
		padding: 12px 16px 12px 16px;
		border: none;
		border-radius: 100px;
		width: 88px;
		height: 43px;
	}

	.search-button-active {
		background-color: #533893;
		color: white;
		cursor: pointer;
	}

	.search-button-disabled {
		background-color: #e2e2e2;
		color: black;
	}

	.cancel-button {
		padding: 12px 16px 12px 16px;
		color: black;
		border: none;
		border-radius: 100px;
		background-color: transparent;
		width: 121p;
		height: 41px;
	}

	.error-message {
		font-size: 0.7rem;
		color: red;
		text-align: left;
	}

	* {
		font-family: "Rubik", "primeicons" !important;
	}

	.p-accordion-header-text {
		color: #6c757d;
		font-weight: 500;
		font-family: "Rubik" !important;
	}

	.p-accordion-tab-active .p-accordion-header-text {
		color: black;
	}
}

.modal-content .text-black {
	text-align: center;
}

.spc-common-table .p-datatable {
	border: none !important;
	border-radius: none !important;
}

.spc-common-table .p-datatable .p-datatable-thead > tr > th {
	background: white !important;
}

.spc-common-table .p-paginator .p-paginator-first,
.p-paginator .p-paginator-prev,
.p-paginator .p-paginator-next,
.p-paginator .p-paginator-last {
	color: black !important;
	font-family: "Rubik" !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	opacity: 1 !important;
}

.spc-common-table
	.p-paginator
	.p-paginator-pages
	.p-paginator-page.p-highlight {
	width: 40px !important;
	height: 40px !important;
	padding: 10px !important;
	border-radius: 4px !important;
	gap: 10px !important;
	background-color: #533893 !important;
	color: white !important;
}

.spc-common-table
	.p-paginator
	.p-paginator-pages
	.p-paginator-page:not(.p-highlight):hover {
	background: transparent !important;
	border-color: transparent !important;
	color: black !important;
}

.spc-common-table
	.p-paginator
	.p-paginator-pages
	.p-paginator-page:not(.p-highlight) {
	color: black !important;
	font-family: "Rubik" !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	line-height: 17px !important;
	letter-spacing: 0em !important;
	text-align: center !important;
}

.spc-common-table input[type="checkbox"] {
	width: 16px !important;
	height: 16px !important;
	border-radius: 4px;
	border: 1px solid black !important;
}

.spc-common-table input[type="checkbox"] {
	-webkit-appearance: none;
	appearance: none;
}

.spc-common-table input[type="checkbox"]:checked {
	background-color: #533893;
}

.spc-common-table input[type="checkbox"]:checked::before {
	content: "\2713";
	color: #ffffff;
	font-size: 14px;
	line-height: 14px;
	font-weight: 500;
	text-align: center;
	padding: 2.5px;
}

.spc-common-table .p-datatable .p-datatable-tbody > tr > td {
	border: none !important;
	color: black !important;
	font-size: 14px !important;
	font-weight: 500 !important;
	font-family: "Rubik" !important;
}

.spc-common-table .p-datatable .p-datatable-thead > tr > th {
	border: none !important;
}

.spc-common-table .p-datatable {
	height: auto !important;
	max-height: 50vh !important;
}

.card-table,
.card-user-detail .card-table-user-detail,
.card-user .card-table-user,
.card-user-detail .card-table-user,
.card-user-detail-profile .card-table-user {
	border: 1px solid #e2e2e2 !important;
	box-shadow: none !important;
	box-shadow: none !important;
}

.p-column-title {
	font-family: "RubikMedium" !important;
	font-size: 17px !important;
	font-weight: 500 !important;
	line-height: 20px !important;
	letter-spacing: 0em !important;
	color: #000000 !important;
}

.custom-label {
	font-family: "RubikMedium" !important;
	font-size: 17px !important;
	font-weight: 500 !important;
	line-height: 20px !important;
	letter-spacing: 0em !important;
}

.btn-clean {
	background: none;
	border: none;
	border-radius: 30px;
	text-decoration: none;
	cursor: pointer;
	font-family: "Rubik";
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}

.custom-mw {
	max-width: 100%;
}

@media (min-width: 1000px) {
	.custom-mw {
		max-width: 1200px;
	}
}

.custom-p-button {
	background: #533893 !important;
}

.p-speeddial-action:hover {
	background: #343a40 !important;
}

.p-speeddial-action.disabled {
	cursor: inherit !important;
	span,
	i,
	svg,
	img {
		opacity: 0.4 !important;
		cursor: inherit !important;
	}
}

.custom-placeholder::placeholder {
	font-weight: 400;
	font-family: "Rubik";
}

.p-sortable-column-icon {
	color: black !important;
}


.home .p-tabview-panels {
	margin: 0 !important;
	padding: 0 !important;
}