.center-txt{
    text-align: center !important;
}
.buttonContent {
    display: flex;
    justify-content: center;
    column-gap: 63px;
    margin-top: 60px;
}
.buttonSecondary{
    max-width: 260px;
    background-color: transparent;
    color: #000;
    border: solid 1px #000;
}
.buttonThird{
    background-color: transparent;
    color: #000;
    border: solid 1px #000;
}
.buttonDisableDM:disabled{
    background-color: #e2e2e2 !important;
    color: #000;
}
.buttonSecondary:hover, .buttonThird:hover{
    background-color: #533893;
    color: #fff;
    border: none;
}

.buttonClip{
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: center;
}

.buttonTop{
    margin-top: 4%;
}