.document-container {
	display: grid;
	row-gap: 1rem;
	column-gap: 1rem;

	&--col4 {
		grid-template-columns: repeat(4, 1fr);
	}

	&--col3 {
		grid-template-columns: 2fr 1fr 1fr;
	}

	&--col3-1-1-2 {
		grid-template-columns: 1fr 1fr 2fr;
	}

	&--col4-small {
		grid-template-columns: repeat(4, 150px);
	}

	@media screen and (max-width: 1200px) {
		/* Cambia a una sola columna en pantallas más pequeñas que 768px */
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (max-width: 768px) {
		/* Cambia a una sola columna en pantallas más pequeñas que 768px */
		grid-template-columns: repeat(1, 1fr);
	}
}

.grid {
	display: grid;
}

.flex-row {
	display: flex;
	flex-direction: row;

	&--gap10 {
		gap: 1rem;
	}
}

.mb-10 {
	margin-bottom: 10px;
}

.search-input {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}

.search-input-size {
	width: 80%;
}

.icon-search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border: 1px solid #e2e2e2;
	border-radius: 10px 10px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.icon-search:hover {
	background-color: #f8f6f6;
}

.search-input-absolute {
	position: relative;
}
.icon-position-left {
	position: absolute;
	top: 50%;
	left: 87%;
	transform: translateY(-50%);
}

.add-recipient-link {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

/* input Contador */
.input-wrapper {
	position: relative;
}

// .input {
// 	box-sizing: border-box;
// 	color: #777;
// 	padding: 15px 15px 15px 35px;
// 	width: 100%;
// }

.input.referencia {
	padding: 15px 35px 15px 15px;
}

.input-icon {
	color: #777;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 9px;
}

.input-icon.referencia {
	left: unset;
	right: 12px;
	top: 120px;
}

.button-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.button-item {
	flex-basis: 50%;
}

.btn {
	display: flex;
	border-radius: 20px;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 44px;
	padding: 12px 16px;
	border: none;
}

.btn-link {
	background: none !important;
	border: none;
	padding: 0 !important;
	text-decoration: none;
	cursor: pointer;
	color: #4338ca;
	font-weight: 500;
	font-size: 16px;

	&--black {
		color: #000000;
	}
}

.input-textarea {
	width: 100%;
	border-radius: 6px;
	border: 1px solid #b5bac5;
	font-size: 15px;
	padding: 5px 5px;
}

.input-small {
	width: 5rem;
}
.flex-center {
	justify-content: center;
	align-items: center;
}

.btn-blackborder {
	background: none !important;
	border: 1px solid #000;
	border-radius: 30px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 1rem;
}

.btn-nobackground {
	background: none !important;
	border: none;
	border-radius: 30px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 1rem;
}
