.inputSize {
	width: 15rem;
}

.btnPurpleBorder {
	background: none;
	color: #533893;
	border: 1px solid #533893;
	border-radius: 30px;
	text-decoration: none;
	cursor: pointer;
	font-weight: 500;
	font-size: 1rem;
}

.btnSizeBorder {
	width: 11.125rem;
	height: 2.688rem;
}

.btnPurpleSize {
	width: 5.5rem;
	height: 2.688rem;
}

.alignSelfBaseline {
	align-self: self-end;
}

.inputTextarea {
	width: 100%;
	border-radius: 6px;
	border: 1px solid #b5bac5;
	font-size: 15px;
	padding: 5px 5px;
}

.btnNoBackground {
	background-color: #fff;
	border: none;
}

.btnTextBlack {
	color: #000;
}

.btnGray {
	background: #e9e9e9;
	border: #e2e2e2;
	border-radius: 30px;
}
